* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C1B5AD;
    display: flex;
    flex-wrap: wrap;
}

#map {
    height: 70vh;
    width: 90vw;
}

.form-group {
    width: 30%;
}
content-row {
    display: flex;

}
